body {
    font-family: 'Times New Roman',serif;
    background-color: #f7f0e6;
    color: #aa0000;
    margin: 0;
    padding: 0;
}


.form-container {
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    background-color: #f7f0e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.form-container h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #aa0000;
}

.form-container label {
    display: block;
    margin-bottom: 0.5rem;
    color: #aa0000;
}

.form-container input,
.form-container textarea,
.form-container button {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #f7f0e6;
    border-radius: 4px;
    font-size: 1rem;
}

.form-container button {
    background-color: #aa0000;
    color: #fff;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #aa0000;
}

.form-container .cancel-button {
    background-color: #aa0000;
}

.form-container .cancel-button:hover {
    background-color: #aa0000;
}
